/* CHARTE GRAPHIQUE
Couleur 1: #1d1b29 (Gris)
Couleur 2: #3b9d6e (Vert)
Couleur 3: #296ff0 (Bleu)
Couleur 4: #fd7381 (Rouge)
 */

 .header {
  margin-top: -20px;
}

/* BARRE DE RECHERCHE */
.thebar {
 padding: 0;
 border-radius: 100px;
 border: 1px solid #dfe1e5;
}

.thebar:hover {
 box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.thebar input {
 width: 90%;
 padding: 10px;
 font-size: 18px;
 border: 0;
 background-color: rgba(0, 0, 0, 0);
}

.thebar input:focus {
 outline: none;
}

.ico_loupe {
 width: 30px;
 height: 30px;
 border-radius: 100px;
 border: 0;
}

.ico_loupe:active {
 background-color: #42b983;
}

.ico_loupe:focus {
 outline: none;
}

/* RESULTAT RECHERCHE PRINCIPALE */
.result {
 width: 80%;
 text-align: left;
 margin: auto;
 margin-top: 20px;
}

.result p {
 margin: 0;
}

.resultModel {
 font-size: 14px; 
}

.resultTitle {
 font-size: 20px;
 color: #1a0dab;
 text-decoration: none;
}

.resultTitle:hover {
 text-decoration: underline;
}

.resultDesc {
 font-size: 14px;
}

.resultDesc table {
 margin-top: 1%;
 margin-left: 5%;
 width: 20%;
}


/* RESTE DE L'APPLI DE BASE */
#app {
 font-family: Avenir, Helvetica, Arial, sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 text-align: center;
 color: #2c3e50;
}

#nav {
 padding: 30px;
}

#nav a {
 font-weight: bold;
 color: #2c3e50;
}

#nav a.router-link-exact-active {
 color: #42b983;
}

h3 {
 margin: 40px 0 0;
}
ul {
 list-style-type: none;
 padding: 0;
}
li {
 display: inline-block;
 margin: 0 10px;
}
a {
 color: #42b983;
}